/* W3.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family: 'Varela Round', sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
h1,h2,h3,h4,h5,h6{font-family: 'Varela Round', sans-serif;font-weight:400;margin:10px 0}
.slides {display:none}
.wide{letter-spacing:4px}
.image{width:100%;height:auto}
#nav-sm-scr{margin-top: 46px;}
#page{max-width:2000px;margin-top:46px}
.slides img{width:100%}
#about, #contact, #events>.container{max-width:800px}
/* #gallery>.container{max-width:1200px} */
.fa-map-marker, .fa-phone, .fa-envelope{width:30px}
#name img{width:60%; text-align: center}
#form{margin:0 -16px 8px -16px}
#event-list{margin:0 -16px}
#event-list img{width:100%}
#photos{margin:0 -16px}
/* #photos img{width:100%} */
img{vertical-align:middle}
a{color:inherit}
.button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.display-container{position:relative}
.input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.bar{width:100%;overflow:hidden; text-align: center; display: inline-block}
.bar .bar-item{padding:8px 16px;width:auto;border:none;display:inline-block;outline:0}
#fans-logo {padding: 0 0; float: left}
#fans-logo:hover {
    background-color: rgb(0, 0, 0)!important
}
.bar .button{white-space:normal}
.bar-block .bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.container:after,.container:before,
.row:after,.row:before,
.row-padding:after,
.row-padding:before,
.bar:before,.bar:after{content:"";display:table;clear:both}
.col,.half{float:left;width:100%}
.third{float:left;width:100%}
.fourth{float:left;width:100%}
#name .third {float: none;display: inline-block}
@media (min-width:601px){
    .third{width:33.33333%}
    .fourth{width:25%}
    .col.m6, .half{width:49.99999%}
}
.content{margin-left:auto;margin-right:auto;max-width:980px}
.hide{display:none!important}
.show{display:block!important}
@media (max-width:600px){
    .hide-small{display:none!important}
    .button{width:100%}
}
@media (max-width:768px){

}
@media (min-width:993px){
    .hide-large{display:none!important}
    }
@media (min-width:601px) and (max-width:992px) {
    /* .hide-medium{display:none!important} */
    .hide-small{display:none!important}

}

.top{position:fixed;width:100%;z-index:1}.top{top:0}
.round{border-radius:4px}
.row-padding,.row-padding>.half,.row-padding>.third, .row-padding>.fourth{padding:0 8px}
.container{padding:0.01em 16px}
.card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.opacity,.hover-opacity:hover{opacity:0.60}
.tiny{font-size:10px!important}.small{font-size:12px!important}.medium{font-size:15px!important}.large{font-size:18px!important}
.xlarge{font-size:24px!important}.xxlarge{font-size:36px!important}.xxxlarge{font-size:48px!important}.jumbo{font-size:64px!important}
.left-align{text-align:left!important}.right-align{text-align:right!important}.justify{text-align:justify!important}.center{text-align:center!important}
.border{border:1px solid #ccc!important}
.section{margin-top:16px!important;margin-bottom:16px!important}
.margin{margin:16px!important}.margin-top{margin-top:16px!important}.margin-bottom{margin-bottom:16px!important}
.margin-left{margin-left:16px!important}.margin-right{margin-right:16px!important}
.padding-small{padding:4px 8px!important}
.padding{padding:8px 16px!important}
.padding-large{padding:12px 24px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-24{padding-top:24px!important;padding-bottom:24px!important}
.padding-32{padding-top:32px!important;padding-bottom:32px!important}
.padding-48{padding-top:48px!important;padding-bottom:48px!important}
.padding-64{padding-top:64px!important;padding-bottom:64px!important}
.left{float:left!important}.right{float:right!important}
.button:hover{color:#fff!important;background-color: rgb(151, 62, 54)!important}


/*Gallery Images*/

/* .photo-container {
    float: left;
} */

.myImg {
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: auto;
    height: 90%;
    max-height: 700px;
}


/* Add Animation - Zoom in the Modal */
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from{transform:scale(0)}
    to {transform: scale(1)}
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color:#f1f1f1;
  /* font-weight: bold; */
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, 
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* Colors */
.white {color:#000;background-color:#fff}
.black {color:#fff;background-color:#000}
.light-grey {color:#000}
.text-white {color:#fff}
